.App {
    text-align: center;
}



.App-header {
    font-size: 58px;
    padding-top: 6.5%;
    padding-bottom: 3%;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
    text-align: center;
}

